<!DOCTYPE html>
<html>
<body>
<meta charset="UTF-8" />
<form action="http://192.168.1.140/setPrice" method="POST" target="_blank">
  年: <input type="text" name="yyyy"><br>
  月: <input type="text" name="MM"><br>
  日: <input type="text" name="DD"><br>
  時: <input type="text" name="hh"><br>
  分: <input type="text" name="mm"><br>
  秒: <input type="text" name="ss"><br>
  92油價: <input type="text" name="92"><br>
  95油價: <input type="text" name="95"><br>
  98油價: <input type="text" name="98"><br>

  <input type="submit" value="Submit">
</form>

<p>Click on the submit button, and the input will be sent to a page on the server called "/action_page.php".</p>

</body>
</html>
